body { 
    background: center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

button:hover {
 opacity:1;
}

.topButtons {
 width: 90px;
 padding: 10px;
 cursor: pointer;
 font-weight: 500;
 font-size: 90%;
 background: #0000ff;
 color: rgb(255, 255, 255);
 float: right;                  
 margin: 10px 10px 0px 0px;
 font-family: Arial, Helvetica, sans-serif;
 border-color: blanchedalmond;
}

#pageTitle.logo-title {
font-family: 'Satisfy', cursive;
font-size: 50px;
color: #112fb4;
margin: auto;
text-decoration: none;
margin: 10px 10px 0px 10px;    
}

h1{
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.middleText{
    font-family: 'Marck Script', cursive;
    color: black;
    margin-top: 0;
    margin: 0 0 0px 10px;
}

.text{
    font-family: 'Martel Sans', sans-serif;
}
/* styling the heading of post area */
.title{
    text-align: center;
    margin-bottom: 50px;
}
/* styling username */
h4{
    margin-bottom: 50px;
    font-family: 'Niconne', cursive;
    font-size: xx-large;
    font-weight: normal;
}
/* style for edit button */
.p-btn{
    float: right;
}
/* styling post part */
.post{
    padding: 75px;
    padding-top: 5px;
}
/* styling  like, comment and edit button button */
.like-btn, .commet-btn, .p-btn{
    margin-top: 3vh;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    background: #EF3B65;
    box-shadow: 0px 10px 20px 0.1px #d6637e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
/* styles for comment box */
#usercomment{
    width: 55%;
    max-height: 500px;
}
/* style for  the comments saved */
.allcomment{
    background-color: lightgrey;
    padding: 10px;
    width: 55%;
}
/* styles for the comment */
#addcomment{
    background-color: white;
    padding: 20px 10px;
    font-size: larger;

}
/* style for the edit box */
#editarea{
    display: none;
    margin: 10px;
}
